:root {
    --blue: #00b0f0;
}

section.note {
    text-align: center;
    background-color: #eee;
    color: red;
    padding: 9px 1px;
    border-bottom: green 1px dotted;
}

main {
    letter-spacing: 1px;
}

.ssc, .forprint {
    display: none;
}

/* style for the main part of the web page */

section.profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

img {
    width: 100%;
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

article.main-article {
    margin: 1vw 5vw;
    line-height: 25px;
    display: flex;
    flex-direction: row;
}

section.profile-info {
    width: 40vw;
}

section.hard-skills {
    width: 48vw;
    margin-left: 2vw;
}

ul {
    margin-top: 5px;
    margin-bottom: 5px;
}

section.origin {
    background-color: var(--blue);
    color: white;
    text-align: center;
    padding-top: 3px;
}

section.left-part h3,
section.hard-skills h3 {
    color: var(--blue);
    margin-top: 10px;
    margin-bottom: 9px;
}

section.left-part p,
section.left-part ul {
    width: 96%;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

section.references a {
    text-decoration: none;
}

section.left-part {
    border-right: 2px var(--blue) solid;
}


/* for the printing part of the page */

section.print {
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

section.print div {
    margin: 1vw 5vw;
    background: #eee;
    padding: 5px 7px;
    color: rgb(6, 6, 6);
    border: 1px gray solid;
    border-radius: 4px;
    cursor: pointer;
    width: 75px;
}

section.print div:hover {
    background: teal;
    color: #fff;
}

@media print {

    header.main-header *,
    section.aside-wrapper *,
    section.note, section.print,
    section.EMF-container,
    section.nav, section.profile-,
    .hsc, .hideprint,
    section.subscribe-wrapper,
    footer {
        display: none;
        background-color: transparent;
        background: transparent;
        color: transparent;
    }

    article.main-article {
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-left: 0;
        line-height: 23px;
    }

    section.profile-info {
        width: 90mm;
    }

    section.hard-skills {
        width: 100.8mm;
        margin-left: 4.2mm;
    }

    .ssc, .forprint {
        display: block;
    }

    @page {
        margin: 0.5cm;
        size: 210mm 297mm portrait;
    }

    main {
        margin-top: -0px;
        width: 210mm;
        height: 297mm;
        z-index: 1000;
        background: white;
        background-color: white;
    }

    main section.hard-skills {
        white-space: nowrap;
    }

    article.main-article section.origin {
        width: 100%;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    section.origin section, section.origin section * {
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    section.origin h2 {
        padding-top: 22px;
    }

    section.origin h3 {
        margin-top: 7px;
    }

    section.origin p {
        margin-top: 7px;
        margin-bottom: 3px;
    }

    section.page-break, div.page-break {
        page-break-before: always;
    }

}


/* End of printing part */


/* 
		max width 840px
*/

@media only screen and (max-width: 840px) {

    /* style for the main part of the web page */
    article.main-article {
        margin: 1vw 5vw;
        line-height: 25px;
        display: flex;
        flex-direction: column;
    }

    section.profile-info, section.hard-skills {
        width: 100%;
    }

    section.left-part {
        border: none;
    }

    section.origin {
        flex-direction: column;
        text-align: center;
    }
}