/* 
	main part of the web page
*/

main article {
	width: 60%;
	margin-left: 20%;
	background-color: rgb(64, 224, 208);
	border-radius: 9px;
	padding: 2%;
	margin-bottom: 30px;
}

section.form-header {
	width: 60%;
	margin-left: 20%;
}

section.form-header p {
	background-color: #fff;
	color: #080;
	padding: 5px 4px;
	font-weight: bold;
	border-bottom: 1px gold solid;
}

p#response {
	color: red;
}

/*
	contact form

*/

section.form-section div.label {
	background-color: rgba(11, 13, 49, 0.8);
	color: #fff;
	padding: 8px;
	font-weight: bold;
	font-size: 20px;
	border-radius: 8px;
	margin-bottom: 6px;
	width: 92%;
}

section.form-section input {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 8px;
	border-radius: 8px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 14px;
	width: 92%;
	outline: none;
	border: 2px green dotted;
}

section.form-section textarea {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 4px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	width: 93%;
	border-radius: 8px;
	outline: none;
	border: 2px rgb(250, 0, 187) dotted;
}

section.form-section button {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	padding: 4px;
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 10px;
	width: 30%;
	cursor: pointer;
	margin-left: 65%;
	border-radius: 8px;
	outline: none;
	border: 2px rgb(4, 0, 250) dotted;
}

.questions-form-holder {
	width: 100%;
	height: auto;
}

.questions-form-holder iframe {
	width: 100%;
	height: 990px;
}

@media (max-width: 390px) and (min-width: 230px) {
	main article {
		width: 90%;
		margin-left: 3%;
		background-color: rgba(5, 53, 53, 0.5);
		padding: 3%;
	}

	section.form-header {
		width: 90%;
		margin-left: 3%;
	}

	section.form-section div.label {
		background-color: rgba(11, 13, 49, 0.8);
		color: #fff;
		padding: 8px;
		font-weight: bold;
		font-size: 20px;
		border-radius: 8px;
		margin-bottom: 6px;
		width: 90%;
	}

	section.form-section input {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 8px;
		border-radius: 8px;
		font-weight: bold;
		font-size: 11px;
		margin-bottom: 14px;
		width: 90%;
	}

	section.form-section textarea {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 4px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
		width: 91%;
		border-radius: 8px;
	}

	section.form-section button {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 4px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
		width: 30%;
		cursor: pointer;
		margin-left: 65%;
		border-radius: 8px;
	}
}

@media (max-width: 730px) and (min-width: 390px) {
	main article {
		width: 90%;
		margin-left: 3%;
		background-color: rgba(15, 116, 116, 0.5);
		padding: 2%;
	}

	section.form-header {
		width: 90%;
		margin-left: 3%;
	}

	section.form-section div.label {
		background-color: rgba(11, 13, 49, 0.8);
		color: #fff;
		padding: 8px;
		font-weight: bold;
		font-size: 20px;
		border-radius: 8px;
		margin-bottom: 6px;
		width: 90%;
	}

	section.form-section input {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 8px;
		border-radius: 8px;
		font-weight: bold;
		font-size: 14px;
		margin-bottom: 14px;
		width: 90%;
	}

	section.form-section textarea {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 4px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
		width: 91%;
		border-radius: 8px;
	}

	section.form-section button {
		background-color: rgb(255, 255, 255);
		color: rgb(0, 0, 0);
		padding: 4px;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 10px;
		width: 30%;
		cursor: pointer;
		margin-left: 65%;
		border-radius: 8px;
	}
}